.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1.0;
    vertical-align: top; 
  }
   
.khan__buy-link:hover{
  opacity: .5;
  -webkit-transition: 1s linear ;
  -o-transition: 1s linear ;
  transition: 1s linear ;
} 